@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: white;
}

body {
  font-family: Noto Sans KR, Arial, Helvetica, sans-serif;
}

.flexBetweenCenter {
  @apply flex justify-between items-center;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.primaryborder {
  @apply border-2 border-solid border-primary rounded-md;
}

.grayBorder {
  @apply border-2 border-solid border-gray rounded-md;
}

.scrollBarHide::-webkit-scrollbar {
  display: none;
}
