@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #323842;
  --foreground: white;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Noto Sans KR, Arial, Helvetica, sans-serif;
}

.flexBetweenCenter {
  @apply flex justify-between items-center;
}

.grayborder {
  @apply border-2 border-solid border-grayBorder rounded-md;
}

.scrollBarHide::-webkit-scrollbar {
  display: none;
}
